<h2><center>Week 6 - Assignment</center></h2>
<h3><center>Programming for Data Science 2024</center></h3>

Exercises for the topics covered in the sixth lecture.

The exercise will be marked as passed if you get **at least 10/15** points.

Exercises must be handed in via **ILIAS** (Homework assignments). Deliver your submission as a compressed file (zip) containing one .py or .ipynb file with all exercises. The name of both the .zip and the .py/.ipynb file **must** be *SurnameName* of the two members of the group. Example: Riccardo Cusinato + Athina Tzovara = *CusinatoRiccardo_TzovaraAthina.zip* .

It's important to use comments to explain your code and show that you're able to take ownership of the exercises and discuss them.

You are not expected to collaborate outside of the group on exercises and submitting other groups’ code as your own will result in 0 points.

For questions contact: *riccardo.cusinato@unibe.ch* with the subject: *Programming for Data Science 2024*.

**Deadline: 14:00, April 11, 2024.**

<h3 style="text-align:left;">Exercise 1 - World Happiness Report<span style="float: right">8 points</span></h3>

You will find the CSV files *report.csv* and *region.csv* in the data folder for this assignment (Credit: https://www.kaggle.com/ajaypalsinghlo/world-happiness-report-2021).

1. Import the two *csv* files and save them in two variables called *df_report* and *df_region*. Create a new column "region" in the *df_report* dataframe by populating it with the correct region in the *df_region* dataframe. If a country does not exist in *df_region*, label it as "unknown" in *df_report*. Print *df_report* at the end. (*2 points*)

**NB** If you are unable to do the exercise, you can use the file *report_region.csv* in the data folder for the next points.

In [25]:
import pandas as pd

# read csv files 
df_report: pd.DataFrame = pd.read_csv('./data/report.csv')
df_region: pd.DataFrame = pd.read_csv('./data/region.csv')
# rename column name from df_region to Country name to merge both data frames 
df_region = df_region.rename(columns={'name': 'Country name'})
# merge column region into report on Country name 
df_report_merged = df_report.merge(df_region[['Country name', 'region']], on='Country name', how='left')
# fill NaN values with unknown 
df_report_merged['region']=df_report_merged[['region']].fillna(value ='unknown')
# print data frame (without print, so it is nicer to read)
df_report_merged

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,region
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,Asia
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,Asia
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,Asia
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,Asia
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209,Africa
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224,Africa
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212,Africa
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235,Africa
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346,Africa

2. Calculate and print the median "Healthy life expectancy at birth" per region in the year 2019. (*2 point*)

In [26]:

# extract year 2019 
df_report_2019 = df_report_merged.loc[df_report_merged['year'] == 2019]
# group data Frame by region 
# calculate median Helathy life ecpectancy at birth 
healthy_median = df_report_2019.groupby('region')['Healthy life expectancy at birth'].mean()
print(healthy_median)

region
Africa      57.524324
Americas    68.023810
Asia        65.700000
Europe      70.591667
Oceania     73.650000
unknown     58.688800
Name: Healthy life expectancy at birth, dtype: float64

3. Create a Pivot table with the median "Healthy life expectancy at birth" per region (index) per year (column) and print it. (*1 point*)

In [27]:
# creating pivot table with aggregation function mean on Healthy life expectancy at birth 
df_report_pivot = df_report_merged.pivot_table('Healthy life expectancy at birth', index = 'region', columns = 'year', aggfunc='mean')
df_report_pivot

year,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
region,,,,,,,,,,,,,,,,
Africa,59.700000,47.149091,48.010476,49.740769,51.669091,52.576000,53.174444,54.541935,54.055000,54.698857,54.848485,55.494444,56.044737,57.156757,57.524324,59.031250
Americas,66.550000,64.386667,65.096190,64.544545,66.068000,64.642857,64.980000,65.286364,65.722609,66.061739,66.614286,66.828571,66.891304,67.335000,68.023810,68.300000
Asia,63.371429,63.132308,62.586207,62.742424,63.537838,63.835135,63.745854,63.408500,63.836500,64.179487,64.263415,64.708333,64.900000,65.268421,65.700000,66.391667
Europe,69.164286,66.280000,66.657600,68.382727,67.831111,68.446875,68.469412,68.975676,68.957714,69.243889,69.527027,69.794595,70.062162,70.255556,70.591667,71.026471
Oceania,71.400000,71.200000,71.560000,71.740000,NaN,72.100000,72.210000,72.320000,72.430000,72.540000,72.650000,72.900000,73.150000,73.400000,73.650000,73.900000
unknown,NaN,65.230000,64.010667,61.118333,57.616200,65.763000,55.425800,59.332750,57.084400,57.338600,57.589000,57.985000,58.380600,58.188400,58.688800,61.553333

4. Create a Pivot table (same structure as before) with the maximum "Log GDP per capita" per region per year and print it. In the resulting table, also add the overall values across years for each region, with the appropriate pandas method. (*1 point*)

In [28]:
# creating pivot table with aggreagation function max on log GDP per capita
# set margin = True, so the max from each year is listed in a seperate row 
df_report_max = df_report_merged.pivot_table('Log GDP per capita', index = 'region', columns= 'year', aggfunc='max', margins = True)
df_report_max

year,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,All
region,,,,,,,,,,,,,,,,,
Africa,9.036,9.492,9.426,9.590,9.414,9.556,9.767,9.842,9.728,9.865,9.724,9.935,9.972,10.008,10.043,9.972,10.043
Americas,10.652,10.924,10.933,10.922,10.888,10.905,10.913,10.928,10.939,10.956,10.977,10.986,11.001,11.025,11.043,11.001,11.043
Asia,10.699,11.367,11.212,11.178,11.456,11.520,11.553,11.523,11.357,11.383,11.486,11.419,11.461,11.490,11.486,11.053,11.553
Europe,10.851,11.050,10.891,11.042,11.562,11.592,11.595,11.567,11.580,11.598,11.617,11.640,11.634,11.645,11.648,11.323,11.648
Oceania,10.659,10.526,10.703,10.719,NaN,10.722,10.733,10.754,10.762,10.772,10.779,10.791,10.798,10.811,10.815,10.760,10.815
unknown,NaN,10.746,9.416,10.816,10.788,10.847,10.887,10.893,10.750,10.940,10.842,10.970,11.000,9.677,11.000,9.690,11.000
All,10.851,11.367,11.212,11.178,11.562,11.592,11.595,11.567,11.580,11.598,11.617,11.640,11.634,11.645,11.648,11.323,11.648

5. Find the length of the shortest country name(s) in the dataset and print it, together with the actual countries (print just the unique occurrences!). Then, create a new column ”Short name”, where each country name is cut down to the length of the shortest country name. For instance, if the country with the shortest name is Germany (7 letters, and not true, just an example), ”Switzerland” would become ”Switzer”. (*2 points*)

In [29]:


# actual country names and drop duplicates 
country_names = df_report_merged['Country name'].drop_duplicates()
print(country_names)
# get min lenght of the names 
min_length = country_names.str.len().min()
print(min_length)
# print a list with shortes names 
shortest_country_names = country_names[country_names.str.len() == min_length]
print(shortest_country_names)
# duplicate column Country name with new column name Short name
df_report_merged['Short name'] = df_report_merged.loc[:,'Country name']
# bring column Short name next to column Country name 
first_column = df_report_merged.pop('Short name') 
df_report_merged.insert(0, 'Short name', first_column) 
# slice strings in Short name to length 4 
df_report_merged['Short name'] = df_report_merged['Short name'].str.slice(stop=4)
# print data frame 
df_report_merged

0       Afghanistan
12          Albania
25          Algeria
33           Angola
37        Argentina
           ...
1879      Venezuela
1894        Vietnam
1908          Yemen
1920         Zambia
1934       Zimbabwe
Name: Country name, Length: 166, dtype: object
4
313     Chad
423     Cuba
761     Iran
774     Iraq
945     Laos
1063    Mali
1310    Oman
1366    Peru
1727    Togo
Name: Country name, dtype: object

,Short name,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,region
0,Afgh,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,Asia
1,Afgh,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,Asia
2,Afgh,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,Asia
3,Afgh,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,Asia
4,Afgh,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimb,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209,Africa
1945,Zimb,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224,Africa
1946,Zimb,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212,Africa
1947,Zimb,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235,Africa
1948,Zimb,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346,Africa

<h3 style="text-align:left;">Exercise 2 - Weather data<span style="float: right">7 points</span></h3>

In this exercise, you'll use the *weather.csv* dataset that contains UK weather data. The dataset has columns year and month describing which year and month a specific recording belongs to. (Credit: https://www.kaggle.com/josephw20/uk-met-office-weather-data)

1. Import the dataset into a dataframe called *df_weather* and create a new column *datetime*, containing a datetime object for each row describing the year and month of the recording. The day can be set as the 1st of the month. Finally, print the dataframe. (*2 points*)

**NB**  If you are unable to do this exercise, you can use the file *weather_datetime.csv* in the data folder for the next points.

In [30]:
import pandas as pd

df_weather: pd.DataFrame = pd.read_csv('data/weather.csv')
datetime_series: pd.Series = pd.to_datetime(arg=df_weather[['year', 'month']].assign(day=1))
df_weather.insert(column="datetime", value=datetime_series, loc=len(df_weather.columns))
df_weather

         year  month  tmax  tmin   af   rain    sun    station   datetime
0      1941.0    1.0   NaN   NaN  NaN   74.7    NaN  aberporth 1941-01-01
1      1941.0    2.0   NaN   NaN  NaN   69.1    NaN  aberporth 1941-02-01
2      1941.0    3.0   NaN   NaN  NaN   76.2    NaN  aberporth 1941-03-01
3      1941.0    4.0   NaN   NaN  NaN   33.7    NaN  aberporth 1941-04-01
4      1941.0    5.0   NaN   NaN  NaN   51.3    NaN  aberporth 1941-05-01
...       ...    ...   ...   ...  ...    ...    ...        ...        ...
37044  2020.0    2.0  10.8   4.5  2.0  117.4   63.1  yeovilton 2020-02-01
37045  2020.0    3.0  11.5   3.0  6.0   43.4  159.2  yeovilton 2020-03-01
37046  2020.0    4.0  17.5   5.3  3.0   39.8  235.0  yeovilton 2020-04-01
37047  2020.0    5.0  19.7   6.8  2.0    3.6  305.6  yeovilton 2020-05-01
37048  2020.0    6.0  20.5  11.0  0.0  103.0  187.6  yeovilton 2020-06-01

[37049 rows x 9 columns]

2. Write a function *mean_rainfall* that takes in input the dataframe, the name of a weather station, the upper and lower bounds of a time interval and computes the mean *rain* for the time period between (and including) the upper and lower bound. Make the station name not case-sensitive. Use the inputs as in the example below (i.e. upper and lower bounds as strings) (*3 points*)

```python 
mean_rainfall(df_weather, "Manston", "january 2019", "march 2020")  # returns 49.52
mean_rainfall(df_weather, "manston", "january 2019", "march 2020")  # also returns 49.52
```

In [31]:
# factored out the selection of the rows of the specified station and timeframe. made this a separate method for later reuse in 2.3
def subframe_of_station_and_timeframe(df: pd.DataFrame, station: str, start: str, end: str, ) -> pd.DataFrame:
    assert df['station'].str.contains(
        '^[a-z]+$').all()  # assert that all station names only contain lower case letters.
    lower_station: str = station.lower()  # make the given station name lowercase, so it matches the station names in the df case-insensitively, since they are all lowercase.
    station_group: pd.DataFrame = df.groupby('station').get_group(
        lower_station)  #get the subframe of all the data for the specified station

    # convert both start and end to pandas object to compare them
    dt_start: pd.Timestamp = pd.to_datetime(start)
    dt_end: pd.Timestamp = pd.to_datetime(end)

    station_timeframe: pd.DataFrame = station_group[
        (station_group['datetime'] >= dt_start) & (
                station_group[
                    'datetime'] <= dt_end)]  # get rows in the timeframe between and including the start and end time. 
    return station_timeframe


def mean_rainfall(df: pd.DataFrame, station: str, start: str, end: str, ) -> float:
    station_timeframe: pd.DataFrame = subframe_of_station_and_timeframe(df, station, start, end)
    return station_timeframe['rain'].mean()


print(mean_rainfall(df_weather, "Manston", "january 2019", "march 2020"))
print(mean_rainfall(df_weather, "manston", "january 2019", "march 2020"))

49.52
49.52

3. Expand the function *mean_rainfall* of the previous point, such that it also returns the number of days since the maximum rainfall in the time-period selected and the current date (use 28th of March as reference) (*2 points*)

```python 
mean_rainfall(df_weather, "Manston", "january 2019", "march 2020")  # returns 49.52, 1640
```

In [32]:
def mean_rainfall(df: pd.DataFrame, station: str, start: str, end: str, ) -> (float, int):
    station_timeframe: pd.DataFrame = subframe_of_station_and_timeframe(df, station, start, end)
    mean_rain: float = station_timeframe['rain'].mean()
    max_rain_id = station_timeframe['rain'].idxmax() # id of the row with the max amount of rain
    max_rain_date: pd.Timestamp = station_timeframe.loc[max_rain_id]['datetime'] #get the row of max rainfall by id and then extract the date
    dt_now = pd.Timestamp = pd.to_datetime('28th of March 2024') # day referenced as 'now'
    since_max_rain: pd.Timedelta = dt_now - max_rain_date
    return mean_rain, since_max_rain.days
    
mean_rainfall(df_weather, "Manston", "january 2019", "march 2020")

(49.52, 1640)