<h2><center>Week 6 - Assignment</center></h2>
<h3><center>Programming for Data Science 2024</center></h3>

Exercises for the topics covered in the sixth lecture.

The exercise will be marked as passed if you get **at least 10/15** points.

Exercises must be handed in via **ILIAS** (Homework assignments). Deliver your submission as a compressed file (zip) containing one .py or .ipynb file with all exercises. The name of both the .zip and the .py/.ipynb file **must** be *SurnameName* of the two members of the group. Example: Riccardo Cusinato + Athina Tzovara = *CusinatoRiccardo_TzovaraAthina.zip* .

It's important to use comments to explain your code and show that you're able to take ownership of the exercises and discuss them.

You are not expected to collaborate outside of the group on exercises and submitting other groups’ code as your own will result in 0 points.

For questions contact: *riccardo.cusinato@unibe.ch* with the subject: *Programming for Data Science 2024*.

**Deadline: 14:00, April 11, 2024.**

<h3 style="text-align:left;">Exercise 1 - World Happiness Report<span style="float: right">8 points</span></h3>

You will find the CSV files *report.csv* and *region.csv* in the data folder for this assignment (Credit: https://www.kaggle.com/ajaypalsinghlo/world-happiness-report-2021).

1. Import the two *csv* files and save them in two variables called *df_report* and *df_region*. Create a new column "region" in the *df_report* dataframe by populating it with the correct region in the *df_region* dataframe. If a country does not exist in *df_region*, label it as "unknown" in *df_report*. Print *df_report* at the end. (*2 points*)

**NB** If you are unable to do the exercise, you can use the file *report_region.csv* in the data folder for the next points.

In [53]:
###
# YOUR CODE HERE
###
import pandas as pd

df_report: pd.DataFrame = pd.read_csv('./data/report.csv')
df_region: pd.DataFrame = pd.read_csv('./data/region.csv')
df_region = df_region.rename(columns={'name': 'Country name'})
df_report_merged = df_report.merge(df_region[['Country name', 'region']], on='Country name', how='left')
df_report_merged = df_report_merged['region'].fillna('unknown')
print(df_report_merged)

0         Asia
1         Asia
2         Asia
3         Asia
4         Asia
         ...
1944    Africa
1945    Africa
1946    Africa
1947    Africa
1948    Africa
Name: region, Length: 1949, dtype: object

2. Calculate and print the median "Healthy life expectancy at birth" per region in the year 2019. (*2 point*)

In [54]:
###
# YOUR CODE HERE
###

3. Create a Pivot table with the median "Healthy life expectancy at birth" per region (index) per year (column) and print it. (*1 point*)

In [55]:
###
# YOUR CODE HERE
###

4. Create a Pivot table (same structure as before) with the maximum "Log GDP per capita" per region per year and print it. In the resulting table, also add the overall values across years for each region, with the appropriate pandas method. (*1 point*)

In [56]:
###
# YOUR CODE HERE
###

5. Find the length of the shortest country name(s) in the dataset and print it, together with the actual countries (print just the unique occurrences!). Then, create a new column ”Short name”, where each country name is cut down to the length of the shortest country name. For instance, if the country with the shortest name is Germany (7 letters, and not true, just an example), ”Switzerland” would become ”Switzer”. (*2 points*)

In [57]:
###
# YOUR CODE HERE
###

<h3 style="text-align:left;">Exercise 2 - Weather data<span style="float: right">7 points</span></h3>

In this exercise, you'll use the *weather.csv* dataset that contains UK weather data. The dataset has columns year and month describing which year and month a specific recording belongs to. (Credit: https://www.kaggle.com/josephw20/uk-met-office-weather-data)

1. Import the dataset into a dataframe called *df_weather* and create a new column *datetime*, containing a datetime object for each row describing the year and month of the recording. The day can be set as the 1st of the month. Finally, print the dataframe. (*2 points*)

**NB**  If you are unable to do this exercise, you can use the file *weather_datetime.csv* in the data folder for the next points.

In [58]:
import pandas as pd

df_weather: pd.DataFrame = pd.read_csv('data/weather.csv')
datetime_series: pd.Series = pd.to_datetime(arg=df_weather[['year', 'month']].assign(day=1))
df_weather.insert(column="datetime", value=datetime_series, loc=len(df_weather.columns))
df_weather

         year  month  tmax  tmin   af   rain    sun    station   datetime
0      1941.0    1.0   NaN   NaN  NaN   74.7    NaN  aberporth 1941-01-01
1      1941.0    2.0   NaN   NaN  NaN   69.1    NaN  aberporth 1941-02-01
2      1941.0    3.0   NaN   NaN  NaN   76.2    NaN  aberporth 1941-03-01
3      1941.0    4.0   NaN   NaN  NaN   33.7    NaN  aberporth 1941-04-01
4      1941.0    5.0   NaN   NaN  NaN   51.3    NaN  aberporth 1941-05-01
...       ...    ...   ...   ...  ...    ...    ...        ...        ...
37044  2020.0    2.0  10.8   4.5  2.0  117.4   63.1  yeovilton 2020-02-01
37045  2020.0    3.0  11.5   3.0  6.0   43.4  159.2  yeovilton 2020-03-01
37046  2020.0    4.0  17.5   5.3  3.0   39.8  235.0  yeovilton 2020-04-01
37047  2020.0    5.0  19.7   6.8  2.0    3.6  305.6  yeovilton 2020-05-01
37048  2020.0    6.0  20.5  11.0  0.0  103.0  187.6  yeovilton 2020-06-01

[37049 rows x 9 columns]

2. Write a function *mean_rainfall* that takes in input the dataframe, the name of a weather station, the upper and lower bounds of a time interval and computes the mean *rain* for the time period between (and including) the upper and lower bound. Make the station name not case-sensitive. Use the inputs as in the example below (i.e. upper and lower bounds as strings) (*3 points*)

```python 
mean_rainfall(df_weather, "Manston", "january 2019", "march 2020")  # returns 49.52
mean_rainfall(df_weather, "manston", "january 2019", "march 2020")  # also returns 49.52
```

In [94]:
# factored out the selection of the rows of the specified station and timeframe. made this a separate method for later reuse in 2.3
def subframe_of_station_and_timeframe(df: pd.DataFrame, station: str, start: str, end: str, ) -> pd.DataFrame:
    assert df['station'].str.contains(
        '^[a-z]+$').all()  # assert that all station names only contain lower case letters.
    lower_station: str = station.lower()  # make the given station name lowercase, so it matches the station names in the df case-insensitively, since they are all lowercase.
    station_group: pd.DataFrame = df.groupby('station').get_group(
        lower_station)  #get the subframe of all the data for the specified station

    # convert both start and end to pandas object to compare them
    dt_start: pd.Timestamp = pd.to_datetime(start)
    dt_end: pd.Timestamp = pd.to_datetime(end)

    station_timeframe: pd.DataFrame = station_group[
        (station_group['datetime'] >= dt_start) & (
                station_group[
                    'datetime'] <= dt_end)]  # get rows in the timeframe between and including the start and end time. 
    return station_timeframe


def mean_rainfall(df: pd.DataFrame, station: str, start: str, end: str, ) -> float:
    station_timeframe: pd.DataFrame = subframe_of_station_and_timeframe(df, station, start, end)
    return station_timeframe['rain'].mean()


print(mean_rainfall(df_weather, "Manston", "january 2019", "march 2020"))
print(mean_rainfall(df_weather, "manston", "january 2019", "march 2020"))

49.52
49.52

3. Expand the function *mean_rainfall* of the previous point, such that it also returns the number of days since the maximum rainfall in the time-period selected and the current date (use 28th of March as reference) (*2 points*)

```python 
mean_rainfall(df_weather, "Manston", "january 2019", "march 2020")  # returns 49.52, 1640
```

In [113]:
def mean_rainfall(df: pd.DataFrame, station: str, start: str, end: str, ) -> (float, int):
    station_timeframe: pd.DataFrame = subframe_of_station_and_timeframe(df, station, start, end)
    mean_rain: float = station_timeframe['rain'].mean()
    max_rain_id = station_timeframe['rain'].idxmax() # id of the row with the max amount of rain
    max_rain_date: pd.Timestamp = station_timeframe.loc[max_rain_id]['datetime'] #get the row of max rainfall by id and then extract the date
    dt_now = pd.Timestamp = pd.to_datetime('28th of March 2024') # day referenced as 'now'
    since_max_rain: pd.Timedelta = dt_now - max_rain_date
    return mean_rain, since_max_rain.days
    
mean_rainfall(df_weather, "Manston", "january 2019", "march 2020")

(49.52, 1640)